.cart-screen {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  justify-content: center;
}
.cart-screen .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "Arial", sans-serif;
}
.cart-screen .cart-container {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}
.cart-screen .cart-container .cart-items {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-screen .cart-container .cart-items .cart-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  gap: 1rem;
}
.cart-screen .cart-container .cart-items .cart-info .image-container {
  width: 80px;
  margin-right: 1rem;
}
.cart-screen .cart-container .cart-items .cart-info .image-container .item-image {
  max-width: 100%;
  height: auto;
}
.cart-screen .cart-container .cart-items .cart-info .info-container {
  flex-grow: 1;
}
.cart-screen .cart-container .cart-items .cart-info .info-container .item-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.cart-screen .cart-container .cart-items .cart-info .info-container .item-description {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 0.5rem;
}
.cart-screen .cart-container .cart-items .cart-info .info-container .quantity-container {
  display: flex;
  align-items: center;
}
.cart-screen .cart-container .cart-items .cart-info .info-container .quantity-container .quantity-select {
  margin-right: 0.5rem;
}
.cart-screen .cart-container .cart-items .cart-info .info-container .quantity-container .delete-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #75a358;
}
.cart-screen .cart-container .cart-items .cart-info .price-container {
  font-weight: bold;
}
.cart-screen .cart-container .subtotal {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-weight: bold;
}
.cart-screen .cart-container .cta-container {
  margin-top: 1rem;
  text-align: center;
}
.cart-screen .cart-container .cta-container .checkout-button {
  background-color: #75a358;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cart-screen .cart-container .cta-container .checkout-button:hover {
  background-color: #5d8246;
}
.cart-screen .cart-container .cta-container .checkout-button.disabled {
  background-color: #888;
  cursor: not-allowed;
}
.cart-screen .no-results-container {
  text-align: center;
  margin-top: 2rem;
}
.cart-screen .no-results-container .no-results-text {
  font-size: 1.2rem;
  color: #888;
}

.custom-quantity-container {
  display: flex;
  align-items: center;
}
.custom-quantity-container .custom-quantity-input {
  width: 60px;
  margin-right: 0.5rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.custom-quantity-container .update-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #75a358;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

@media (max-width: 437px) {
  .cart-screen .cart-container .cart-items .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart-screen .cart-container .cart-items .cart-item .image-container {
    margin-bottom: 0.5rem;
  }
  .cart-screen .cart-container .cart-items .cart-item .info-container {
    margin-bottom: 0.5rem;
  }
  .cart-screen .cart-container .cart-items .cart-item .price-container {
    align-self: flex-end;
  }
}/*# sourceMappingURL=CartPage.css.map */