@import 'settings';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($primary-color, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: $background-color;
  border-radius: $border-radius;
  padding: $large-spacing;
  @include flex-center;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba($primary-color, 0.25);

  &-text {
    margin-bottom: $spacing-unit;
    text-align: center;
    color: $text-color;
    font-family: $body-font-family;
    font-size: $base-font-size;
  }

  &-button {
    @include button-reset;
    background-color: $secondary-color;
    color: $background-color;
    font-weight: bold;
    padding: $small-spacing $spacing-unit;
    border-radius: $border-radius;
    @include hover-effect;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}