@import 'settings';
.category-container {
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
 
  display: flex;
  flex-direction: column;
}

.category-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}

.sub-category-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  text-transform: capitalize;

}
@include mobile {
  .product-item {
    padding: $small-spacing;
    .product-image{
      width: auto;
      height: 150px;
      object-fit: contain;
    }
  }
}


