@import 'settings';

.radio-button {
  @include button-reset;
  @include flex-center;
  margin: calc($small-spacing*3) 0;
  
  .radio-outer {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid $primary-color;
    @include flex-center;
    
    &.selected {
      .radio-inner {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: $primary-color;
      }
    }
  }
  
  .label {
    margin-left: 10px;
    font-size: $base-font-size;
    color: $text-color;
    font-family: $body-font-family;
  }
  
  @include hover-effect;
}