// settings.scss


// Colors
$primary-color: #222;
$secondary-color: #75a358;
$background-color: #fff;
$text-color: #222;
$light-text-color: #888;
$border-color: #ccc;
$hover-color: #444;

// Typography
$base-font-size: 16px;
$base-line-height: 1.5;
$heading-font-family: 'Arial', sans-serif;
$body-font-family: 'Helvetica', sans-serif;

// Spacing
$spacing-unit: 1rem;
$small-spacing: calc($spacing-unit / 2);
$large-spacing: $spacing-unit * 2;

// Breakpoints
$mobile-breakpoint: 438px;
$tablet-breakpoint: 1024px;

// Border
$border-radius: 5px;

// Transitions
$transition-duration: 0.3s;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@mixin responsive-image {
  max-width: 100%;
  height: auto;
}

@mixin hover-effect {
  transition: all $transition-duration ease;
  
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@mixin hover-effect-image {
  transition: all $transition-duration ease;
  overflow: hidden;
  
  border-radius: 5%;
  border: 0.5px solid $secondary-color;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

// Media query mixins
@mixin mobile {
  @media (max-width: #{$mobile-breakpoint - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$mobile-breakpoint}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$tablet-breakpoint}) {
    @content;
  }
}