@import 'settings';
.upsell-screen {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    .title {
      font-size: 24px;
      font-family: 'Oswald', sans-serif;
      font-weight: 600;
      width: 90%;
      align-self: center;
    }
  
   
  .product-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
  
    .main-image-container {
      .main-image {
        height: 250px;
        width: 250px;
        border-radius: 10px;
      }
    }
  
    .smaller-images-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
  
      .smaller-image {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    gap: 20px;
  
    .back-button {
      background: none;
      border: none;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  .info-container {
    align-items: left;
    border: 0.5px solid $border-color;
   
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 4px;
    text-align: left;
    min-width: 25%;
    height: 80%;
  
    .name {
      font-size: 24px;
      font-weight: bold;
    }
  
    .description {
      font-size: 16px;
      text-align: center;
    }
  
    .price {
      font-size: 18px;
      color: $secondary-color;
    }
  
    .rating {
      font-size: 16px;
      color: gray;
    }
  }
  
  .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    align-self: center;
    
 
  
    .button {
      background-color: #75A358;
      margin-top: 10px;
      padding: 5px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
      
      text-transform: capitalize;
      transition: background-color 0.2s ease-in-out;
  
      &:hover {
        background-color: darken(#75A358, 10%);
      }
  
      &.add-to-cart {
        background-color:#A35875;
        color: $secondary-color;

        font-weight: 600;
        &:hover{
          background-color: darken(#A35875, 10%);
        }
      }
      &.checkout{
        font-weight: 600;
      }
  
      &.checkout,
      &.shop-more {
        color: $primary-color;
      }
    }
  }
  }